<div class="login-page">
  <div class="login-container">
    <div class="left-panel">
      <img src="assets/login-illustration.png" alt="Login Illustration">
    </div>
    <div class="right-panel">
      <h2>Entrar</h2>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
          <label for="username">Login</label>
          <input type="text" id="username" required [(ngModel)]="username" name="username" #usernameInput="ngModel">
          <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
            <div *ngIf="usernameInput.errors?.['required']">Username is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" id="password" required [(ngModel)]="password" name="password" #passwordInput="ngModel">
          <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
            <div *ngIf="passwordInput.errors?.['required']">Password is required.</div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group-remember">
            <input type="checkbox" id="remember-me" name="remember-me">
            <label for="remember-me">Lembrar-me</label>
          </div>
          <a href="#" class="forgot-password">Esqueceu a Senha?</a>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
      </form>
      <p>Não Tem Uma Conta? <a href="#">Inscrever-se</a></p>
    </div>
  </div>
</div>
