<div class="login-page">
  <div class="login-container">
    <div [ngClass]="backgroundClass" class="left-panel">
      <div class="full-size-child">
        <div *ngIf="backgroundClass === 'madrugada-background'" class="madrugada">
          <app-cloud-svg svgClass="nuvem-baixo-madrugada"></app-cloud-svg>
          <app-cloud-svg svgClass="nuvem-meio-madrugada"></app-cloud-svg>
          <app-cloud-svg svgClass="nuvem-alto-madrugada"></app-cloud-svg>
        </div>
        <div *ngIf="backgroundClass === 'manha-background'" class="manha">
          <app-cloud-svg svgClass="nuvem-baixo-dia"></app-cloud-svg>
          <app-cloud-svg svgClass="nuvem-meio-dia"></app-cloud-svg>
          <app-cloud-svg svgClass="nuvem-alto-dia"></app-cloud-svg>
          <app-cloud-svg svgClass="nuvem-inicio-dia"></app-cloud-svg>
          <app-cloud-svg svgClass="nuvem-fim-dia-1"></app-cloud-svg>
          <app-cloud-svg svgClass="nuvem-fim-dia-2"></app-cloud-svg>
        </div>
        <div *ngIf="backgroundClass === 'tarde-background'" class="tarde">
          <app-circle-svg svgClass="sol-baixo-tarde"></app-circle-svg>
          <app-circle-svg svgClass="sol-medio-tarde"></app-circle-svg>
          <app-circle-svg svgClass="sol-alto-tarde"></app-circle-svg>
          <app-cloud-svg svgClass="nuvem-inicio-tarde"></app-cloud-svg>
          <app-cloud-svg svgClass="nuvem-fim-tarde"></app-cloud-svg>
        </div>
        <div *ngIf="backgroundClass === 'noite-background'" class="noite">
          <app-circle-svg svgClass="lua-baixo-noite"></app-circle-svg>
          <app-circle-svg svgClass="lua-medio-noite"></app-circle-svg>
          <app-circle-svg svgClass="lua-alto-noite"></app-circle-svg>
          <app-cloud-svg svgClass="nuvem-inicio-noite"></app-cloud-svg>
          <app-cloud-svg svgClass="nuvem-fim-noite"></app-cloud-svg>
          <div class="star-noite-pequena-container">
            <ng-container *ngFor="let star of stars"><app-circle-svg svgClass="star-noite-pequena"
                [ngStyle]="{'--star-top': star.top + '%', '--star-left': star.left + '%'}"></app-circle-svg></ng-container>

          </div>
          <div class="star-noite-grande-container">
            <ng-container *ngFor="let starBig of starsBig">
              <app-circle-svg svgClass="star-noite-grande"
                [ngStyle]="{'--star-top': starBig.top + '%', '--star-left': starBig.left + '%'}"></app-circle-svg></ng-container>
          </div>
        </div>
      </div>
      <!-- <img src="assets/img/login-illustration.png" alt="Login Illustration"> -->
      <h1>{{ greetingMessage }}</h1>
      <p>Insira suas informações para começar a usar a nossa plataforma.</p>
    </div>
    <div class="right-panel">
      <h2>Entrar</h2>
      <form [formGroup]="login" (ngSubmit)="logar()" (ngReset)="reiniciar()">
        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" id="login" formControlName="login">
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <div class="password-container">
            <input [type]="passwordFieldType" id="senha" formControlName="senha">
            <span class="password-toggle" (click)="togglePasswordVisibility()">
              <i class="fa" [ngClass]="passwordIconClass"></i>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group-remember">
            <input type="checkbox" id="remember-me" name="remember-me">
            <label for="remember-me">Lembrar-me</label>
          </div>
          <a href="#" class="forgot-password">Esqueceu a Senha?</a>
        </div>
        <button type="submit">Entrar</button>
      </form>
      <p>Não Tem Uma Conta? <a href="#">Inscrever-se</a></p>
    </div>
  </div>
</div>