<div class="registrarEmpresa-page">
  <div class="registro-container">
    <div class="left-panel">
      <img src="assets/img/registrarEmpresa.svg" alt="Register Illustration">
    </div>
    <div class="right-panel">
      <h2>Comece a vender!</h2>
      <p>Insira as informações da sua empresa para começar</p>
      <form (ngSubmit)="registrar()" [formGroup]="registroEmpresaForm">
        <div class="form-container">
          <fieldset>
            <legend>Informações Básicas</legend>
            <div class="input-container narrow-width">
              <span class="icon"><i class="fa fa-user"></i></span>
              <input type="text" id="nome" formControlName="nome" required placeholder="Nome da Conta">
            </div>

            <div class="input-container narrow-width">
              <span class="icon"><i class="fa fa-phone"></i></span>
              <input type="text" id="telefone" formControlName="telefone" required placeholder="Telefone">
            </div>

            <div class="input-container full-width">
              <span class="icon"><i class="fa fa-envelope"></i></span>
              <input type="email" id="email" formControlName="email" required placeholder="E-mail">
            </div>
          </fieldset>

          <fieldset>
            <legend>Endereço</legend>
            <div class="input-container wide-width">
              <span class="icon"><i class="fa fa-road"></i></span>
              <input type="text" id="ruaLogradouro" formControlName="ruaLogradouro" required
                placeholder="Rua">
            </div>

            <div class="input-container narrow-width">
              <span class="icon"><i class="fa fa-city"></i></span>
              <input type="text" id="cidade" formControlName="cidade" required placeholder="Cidade">
            </div>

            <div class="input-container narrow-width">
              <span class="icon"><i class="fa fa-map-pin"></i></span>
              <input type="text" id="cep" formControlName="cep" required placeholder="CEP">
            </div>

            <div class="input-container narrow-width">
              <span class="icon"><i class="fa fa-hashtag"></i></span>
              <input type="text" id="numero" formControlName="numero" required placeholder="Número">
            </div>

            <div class="input-container narrow-width">
              <span class="icon"><i class="fa fa-flag"></i></span>
              <input type="text" id="uf" formControlName="uf" required placeholder="UF">
            </div>

            <div class="input-container wide-width">
              <span class="icon"><i class="fa fa-home"></i></span>
              <input type="text" id="bairro" formControlName="bairro" required placeholder="Bairro">
            </div>

            <div class="input-container narrow-width">
              <span class="icon"><i class="fa fa-tags"></i></span>
              <input type="text" id="tipoEndereco" formControlName="tipoEndereco" required
                placeholder="Tipo de Endereço">
            </div>

            <div class="input-container full-width">
              <span class="icon"><i class="fa fa-sticky-note"></i></span>
              <input type="text" id="complemento" formControlName="complemento" placeholder="Complemento">
            </div>

          </fieldset>

          <fieldset>
            <legend>Informações Empresariais</legend>

            <div class="input-container half-width">
              <span class="icon"><i class="fa fa-id-card"></i></span>
              <input type="text" id="cnpj" formControlName="cnpj" required placeholder="CNPJ">
            </div>

            <div class="input-container half-width">
              <span class="icon"><i class="fa fa-file-alt"></i></span>
              <input type="text" id="inscricaoEstadual" formControlName="inscricaoEstadual"
                placeholder="Inscrição Estadual">
            </div>

            <div class="input-container half-width">
              <span class="icon"><i class="fa fa-file-alt"></i></span>
              <input type="text" id="inscricaoMunicipal" formControlName="inscricaoMunicipal"
                placeholder="Inscrição Municipal">
            </div>

            <div class="input-container narrow-width">
              <span class="icon"><i class="fa fa-tags"></i></span>
              <input type="text" id="categoria" formControlName="categoria" required placeholder="Categoria">
            </div>

            <div class="input-container full-width">
              <span class="icon"><i class="fa fa-building"></i></span>
              <input type="text" id="razaoSocial" formControlName="razaoSocial" required placeholder="Razão Social">
            </div>

            <div class="input-container wide-width">
              <span class="icon"><i class="fa fa-briefcase"></i></span>
              <input type="text" id="nomeFantasia" formControlName="nomeFantasia" required placeholder="Nome Fantasia">
            </div>


          </fieldset>

          <button type="submit">Registrar Empresa</button>
        </div>
      </form>
    </div>
  </div>
</div>